{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components", 
      {
        "ssr": true, // SSR을 위한 설정
        "pure": true // dead code elimination (사용되지 않는 속성 제거)
      }
    ]
  ]
}