@import url('./reset.css');
@import url('./skills.css');
@import url('./randomImg.css');
@import url('./bannerIcon.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-y: overlay;
  transition: all 0.4s ease;
  overflow-x: hidden;
}

html.scroll-hidden {
  color: transparent;
}

html::-webkit-scrollbar {
  height: 12px;
}

html::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  box-shadow: inset 6px 6px 0;
}

html::-webkit-scrollbar-track {
  box-shadow: none;
}

body {
  color: #171717;
  font-size: 10px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
  padding: 3px;
  background: rgba(255, 255, 255, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #8217f3);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: none;
}

body::-webkit-scrollbar-corner {
  background: none;
}

#__next {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

:root {
  font-family: 'Pretendard';
  --font-nanum: 'Pretendard';
  --font-noto: 'Pretendard';
  --sub-font-dark-gray: #7d7d7d;
  --sub-font-gray: #bebebe;
  --main-color-1: #ffb6b9;
  --main-color-2: #fae3d9;
  --sub-color-1: #8ac6d1;
  --sub-color-2: #bbded6;
  --bg-gray: #707070;
  --radius-def: 10px;
  --radius-sm: 5px;
  --radius-xl: 50px;
  --padding-1: 20px 20px 36px 20px;
  --padding-2: 20px;
  --grid-gap: 16px;
  --box-shadow: 0 4px 2px hsla(0, 0%, 0%, 0.05), 0 1px 8px hsla(0, 0%, 0%, 0.05);
  --animate-duration: 3s;
  --animate-infinite: infinite;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
}

.swal2-shown {
  padding-right: 0 !important;
}

.animate-duration-3 {
  --animate-duration: 5s;
}

.animate-duration-2 {
  --animate-duration: 2s;
}

.nanum-bold {
  font-family: var(--font-nanum);
  font-size: 23px;
  font-weight: 700;
  color: #464646;
}

.nanum-semi-bold {
  font-family: var(--font-nanum);
  font-size: 18px;
  font-weight: 500;
}

.nanum-regular {
  font-family: var(--font-nanum);
  font-size: 15px;
  font-weight: 400;
}

.noto-regular-12 {
  font-family: var(--font-noto);
  font-size: 12px;
  font-weight: 400;
}

.noto-regular-13 {
  font-family: var(--font-noto);
  font-size: 13px;
  font-weight: 400;
}

.noto-medium {
  font-family: var(--font-noto);
  font-size: 13px;
  font-weight: 500;
}

.blink {
  color: #aa233c;
  text-shadow: 30px 10px 25px #aa233c, 30px 10px 25px #aa233c;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.sub-btn {
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.sub-btn-top {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

/* Alert 커스텀 */
.custom-alert-bg-rgba-5 {
  background: rgba(255, 255, 255, 0.5);
}

/* Select 커스텀 */
.select-options > div {
  border: solid 2px #ececec;
  border-radius: 10px;
}

.select-options > div:hover,
:focus {
  border-color: rgb(150, 116, 255, 0.5);
  box-shadow: rgb(150, 116, 255, 0.5);
}

.react-select__menu {
  padding: 0;
  margin: 0;
  height: 80px;
  overflow: scroll;
  overflow-x: hidden;
}
