@import url('./reset.css');
@import url('./skills.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #171717;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

:root {
  --font-nanum: 'Pretendard';
  --font-noto: 'Pretendard';
  --sub-font-dark-gray: #7d7d7d;
  --sub-font-gray: #bebebe;
  --main-color-1: #ffb6b9;
  --main-color-2: #fae3d9;
  --sub-color-1: #8ac6d1;
  --sub-color-2: #bbded6;
  --bg-gray: #707070;
  --radius-def: 10px;
  --radius-sm: 5px;
  --radius-xl: 50px;
  --padding-1: 20px 20px 36px 20px;
  --padding-2: 20px;
  --grid-gap: 16px;
  --box-shadow: 0 4px 2px hsla(0, 0%, 0%, 0.05), 0 1px 8px hsla(0, 0%, 0%, 0.05);
  --animate-duration: 3s;
  --animate-infinite: infinite;
}

.animate-duration-3 {
  --animate-duration: 5s;
}

.animate-duration-2 {
  --animate-duration: 2s;
}

.nanum-bold {
  font-family: var(--font-nanum);
  font-size: 23px;
  font-weight: 700;
}

.nanum-semi-bold {
  font-family: var(--font-nanum);
  font-size: 18px;
  font-weight: 500;
}

.nanum-regular {
  font-family: var(--font-nanum);
  font-size: 15px;
  font-weight: 400;
}

.noto-regular-12 {
  font-family: var(--font-noto);
  font-size: 12px;
  font-weight: 400;
}

.noto-regular-13 {
  font-family: var(--font-noto);
  font-size: 13px;
  font-weight: 400;
}

.noto-medium {
  font-family: var(--font-noto);
  font-size: 13px;
  font-weight: 500;
}

.blink {
  color: #aa233c;
  text-shadow: 30px 10px 25px #aa233c, 30px 10px 25px #aa233c;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.sub-btn {
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.sub-btn-top {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
